h1,body {
  margin: 0; /* zero top-bottom, l-r auto */
}

/* horizontal menu */
nav {
  display:flex;
  justify-content: center;
  align-items: flex-start;


}
nav a {
  padding: 1em 1em;
  color: #ccc;
  background: green;
  text-decoration: none;
  transition: all 2.5s;
}

nav a:hover{
  background-color: yellow;

}


/* vertcial */
nav {
  flex-direction: column;
  width: 14%;
  float: left;
}
main {
  width: 85%;
  float: right;
  box-sizing: border-box;
}
